
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #ECE0C8;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6D5745;
    font-size: 1.5em;
}

#top {
    position: absolute;
    width: 100%;
    margin-bottom: -100%;
}
#key {
    width: 100%;
    /* margin-bottom: -35vw; */
}

#opening {
    padding: 50px 10px;
    position: absolute;
    top: 52vw;
    width: 100%;

}

#opening p {

    margin: 8px auto;
    text-align: center;

}


footer {
    text-align: center;
    padding: 20px 0;
    width: 100%;
}